@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Arsenal', sans-serif;
    background: lightgoldenrodyellow;
    color: #0e0e0e;
}

header {
    background: #0e0e0e;
    padding: 1rem;
    letter-spacing: 0.2rem;
}

header h1 {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: #fcee0b;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 4rem;
}

.form-container {
    margin: 2rem auto;
    width: 200rem;
    max-width: 100%;
    padding: 0 2rem 0 2rem;
}

form {
    display: flex;
    flex-flow: column;
}

form input {
    border: solid 0.005px #fcee0b;
    height: 6em;
    padding: 1.5rem;
}

form textarea {
    padding: 1.5rem;
}

button {
    padding: 1rem;
    border: none;
    background: #fcee0b;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    text-transform: uppercase;
    border: solid 0.00005px black;
}

button:hover {
    background: rgb(243, 212, 35);
}

.todo-container button {
    background: black;
    color: #fcee0b;
    border-radius: 1rem;
    padding: 0.55rem;
    width: 6rem;
}

.todo-container button:hover {
    color: rgb(243, 212, 35);
    background-color: black;
}

form div {
    display: flex;
    flex-flow: column;
    margin-bottom: 1.3rem;
}

.todo-container {
    background: lightblue;
    border: solid black;
    box-shadow: 5px 10px #888888;
    padding: 4rem;
    margin-top: 2rem;
    border-radius: 2rem;
    width: 41rem;
    max-width: 100%;
}

.todo-container:hover {
  background: cyan;
}

.todo-container p {
    margin: 0 0 5rem 0;
    font-size: 2rem;
    word-wrap: break-word;
}

.todo-container p::first-letter{
    text-transform: uppercase;
}

@media screen and (max-width: 1094px) {
    section {
        justify-content: center;
    }
}